<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post">
    <label for="name">Cheese Name:
        <input type="text" name="cheeseName" id="name" />
    </label>
    <label for="desc">Cheese Description:
        <input type="text" name="cheeseDesc" id="desc" />
    </label>
    <input type="submit" value="Add Cheese" />
</form>
</body>
</html>