<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <!--<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>-->
    <ul>
            <tr th:each="mapItem : ${cheeses}">
                <li>
                    <td><h1 th:text="${mapItem.key}">Key</h1></td>
                    <td><p th:text="${mapItem.value}">Value</p></td>
                </li>
            </tr>
    <!-- </tr> th:each="cheese : ${cheeses}" th:text="${cheese}"> -->
    </ul>
</body>
</html>